<div class="row app-hero hero">
  <span class="section-title">
    Software Applications
  </span>
</div>
<div class="container">
  <h2 align="center">Beautiful, Efficient Apps</h2><br />
  <p>
    Each one of my apps is hand crafted using the freshest designs,
    organic code methods and free range imagination. Apps are coded in
    many web languages including Javascript, jQuery, AngularJS, and
    Ruby on Rails. Code for these apps is available on Github to view,
    fork or clone, incliding this blog, coded in Ruby on Rails.
  </p>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="container">
          <%= image_tag("face.jpg", class: "app-img") %>
          <h4><b>Rapport Report</b></h4>
          <p>An app designed to give you a social media score</p>
          <ul>
            <li>Coded in jQuery</li>
            <li><%=link_to "Github", "https://github.com/dcaponi/Rapport-Report" %></li>
            <li><%=link_to "Live Site", "http://dcaponi.github.io/Rapport-Report/" %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="container">
          <%= image_tag("face.jpg", class: "app-img") %>
          <h4><b>Zhijin Global Geopark</b></h4>
          <p>A beautiful example of my design and SEO focus</p>
          <ul>
            <li>Coded in javaScript</li>
            <li><%=link_to "Github", "https://github.com/dcaponi/Design-Showcase" %></li>
            <li><%=link_to "Live Site", "http://dcaponi.github.io/Design-Showcase/" %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="container">
          <%= image_tag("face.jpg", class: "app-img") %>
          <h4><b>Pong 2.0</b></h4>
          <p>JavaScript based twist on Pong</p>
          <ul>
            <li>Coded in JavaScript</li>
            <li><%=link_to "Github", "https://github.com/dcaponi/newPong" %></li>
            <li><%=link_to "Live Site", "http://dcaponi.github.io/newPong/" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="container">
          <%= image_tag("face.jpg", class: "app-img") %>
          <h4><b>Spotifind</b></h4>
          <p>Suggests artists related to your favorite artists</p>
          <ul>
            <li>Coded in NodeJS</li>
            <li><%=link_to "Github", "https://github.com/dcaponi/Spotifind" %></li>
            <li><%=link_to "Live Site", "https://sleepy-citadel-81588.herokuapp.com/" %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="container">
          <%= image_tag("face.jpg", class: "app-img") %>
          <h4><b>World Guidebook</b></h4>
          <p>An app that tells you about any country in the world</p>
          <ul>
            <li>Coded in AngularJS</li>
            <li><%=link_to "Github", "https://github.com/dcaponi/country-cap-app" %></li>
            <li><%=link_to "Live Site", "http://www.dominick-caponi.com/CountryCapApp/#/" %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="container">
          <%= image_tag("face.jpg", class: "app-img") %>
          <h4><b>Fitness Tracker</b></h4>
          <p>Keep track of and share your fitness goals and progress with your friends</p>
          <ul>
            <li>Coded in JavaScript</li>
            <li><%=link_to "Github", "https://github.com/dcaponi/fitness_tracker" %></li>
            <li>Work in Progress</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
